<h3>Páginas</h3>

<!-- Reactive -->
<h4>Reactive</h4>
<div class="list-group">
  <a routerLink="/reactive/basic" routerLinkActive="active" class="list-group-item list-group-item-action">Básicos</a>
  <a routerLink="/reactive/dynamic" routerLinkActive="active" class="list-group-item list-group-item-action">Dinámicos</a>
  <a routerLink="/reactive/switches" routerLinkActive="active" class="list-group-item list-group-item-action">Switches</a>
</div>

<!-- Auth -->
<h4 class="mt-3">Auth</h4>
<div class="list-group">
  <a routerLink="/auth/sign-up" routerLinkActive="active" class="list-group-item list-group-item-action">Registro</a>
</div>

<!-- Países -->
<h4 class="mt-3">Países</h4>
<div class="list-group">
  <a routerLink="/country" routerLinkActive="active" class="list-group-item list-group-item-action">Países</a>
</div>
